**/*.rs.bk
.DS_Store
.anchor
.env
.mainnet/
.mainnet-2/
.tmp/
bin/*.so
bin/amm
node_modules
.next
out
next-env.d.ts
yarn.lock
target
test-ledger
grcov.log
tsconfig.tsbuildinfo

# Temporary audit files
typst.tar.xz
typst-x86_64-unknown-linux-musl/
